In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import jsonify
import mysql.connector
from sqlalchemy import create_engine


pd.set_option('display.max_columns', None)

engine = create_engine('mysql+pymysql://root:#1234abcd@localhost:3306/rentalrestaurant')


restaurant_geo_fp = 'geo_data/restaurant.geojson'

rental_geo_fp = 'geo_data/rental_geo.geojson'

crs = 3043

rental_geo_df = gpd.read_file(rental_geo_fp).to_crs(crs)
restaurant_geo_df = gpd.read_file(restaurant_geo_fp).to_crs(crs)

In [2]:
# Create an empty GeoDataFrame to store the results
rental_results = pd.DataFrame(columns=['id', 'restaurant_ids'])

# Iterate through the rental properties
for i, rental_row in rental_geo_df.iterrows():
    # Get the ID and geometry of the rental property
    rental_id = rental_row['id']
    rental_geom = rental_row.geometry
    
    # Create a buffer of 500 meters around the rental property
    rental_buffer = rental_geom.buffer(400)
    
    # Create an empty list to store the IDs of the restaurants
    restaurant_ids = []
    
    # Iterate through the restaurants
    for j, restaurant_row in restaurant_geo_df.iterrows():
        # Get the ID and geometry of the restaurant
        restaurant_id = restaurant_row['id']
        restaurant_geom = restaurant_row.geometry
        
        # Check if the rental property's buffer includes the restaurant
        if rental_buffer.contains(restaurant_geom):
            # Add the ID of the restaurant to the list
            restaurant_ids.append(restaurant_id)
    
    # Create a new row for the rental property with the restaurant IDs
    new_row = pd.Series({'id': rental_id, 'restaurant_ids': restaurant_ids})
    
    # Add the new row to the GeoDataFrame
    rental_results.loc[len(rental_results)] = new_row

# # Convert the geometry column to a GeoSeries
# rental_results['geometry'] = gpd.GeoSeries(rental_results['geometry'])

# # Set the CRS of the GeoDataFrame
# rental_results.crs = rental_geo.crs

# # Print the results
# print(rental_results)

In [3]:
rental_results_explode = rental_results.explode('restaurant_ids')
rental_results_explode.columns = ['rental_id', 'restaurant_id']
rental_results_explode = rental_results_explode.dropna()

rental_results_explode
# Write data into the table in MySQL database
rental_results_explode.to_sql('connector', engine, if_exists='append', index=False)

9145

In [4]:
rental_results_explode

                             rental_id restaurant_id
0             1006thAveSSeattleWA98104    2351711771
0             1006thAveSSeattleWA98104    2351711944
0             1006thAveSSeattleWA98104    2434520535
0             1006thAveSSeattleWA98104    2434520560
0             1006thAveSSeattleWA98104    2434520621
..                                 ...           ...
499  5616UniversityWayNESeattleWA98105    2323846873
499  5616UniversityWayNESeattleWA98105    2323846900
499  5616UniversityWayNESeattleWA98105    2464040320
499  5616UniversityWayNESeattleWA98105    5222613108
499  5616UniversityWayNESeattleWA98105    5502253231

[9145 rows x 2 columns]