In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import jsonify
import mysql.connector
from sqlalchemy import create_engine


pd.set_option('display.max_columns', None)


amenity_fp = 'geo_data/restaurant.geojson'

crs = 3043

df = gpd.read_file(amenity_fp).to_crs(crs)

In [2]:
df['website'] = df['website'].str.split('.com/').str[0] + '.com'

In [3]:
# Turns a normal JSON file into GEOJSON

import json
from geojson import Feature, FeatureCollection, Point


def turn_json_to_geojson(json_file, file_name):
    with open(json_file, 'r') as f:
        data = json.load(f)
    features = []
    for item in data:
        latitude = item['latitude']
        longitude = item['longitude']
        point = Point((longitude, latitude))
        feature = Feature(geometry=point, properties=item)
        features.append(feature)
    feature_collection = FeatureCollection(features)
    with open((file_name + '.geojson'), 'w') as f:
        json.dump(feature_collection, f)

## Restaurant EDA

In [4]:
cols = ['id', 'addr:city', 'addr:housenumber', 'addr:postcode', 'addr:state', 'addr:street', 'amenity', 'bar', 'brewery', 'cuisine', 'delivery', 'microbrewery', 'name', 'opening_hours', 'outdoor_seating', 'phone', 'takeaway', 'website', 'geometry']
restaurant_geo = df[cols]

In [5]:
#Fill NA
restaurant_geo_filter = restaurant_geo.fillna(0).to_crs(4326)

# Get the coordinates from the 'geometry' column
restaurant_geo_filter['lat'] = restaurant_geo_filter.get_coordinates().y
restaurant_geo_filter['lon'] = restaurant_geo_filter.get_coordinates().x

#Export to GEOJSON
restaurant_geo_filter.to_file('geo_data/restaurant_geo.geojson', driver='GeoJSON')

# Prepare for SQL Upload
restaurant_geo_filter = restaurant_geo_filter.drop(columns=['amenity','geometry', 'bar', 'brewery', 'microbrewery', 'takeaway','outdoor_seating','delivery' , 'opening_hours'])

restaurant_geo_filter.columns = ['ID', 'ADDRESS_CITY', 'ADDRESS_HOUSENUMBER', 'ADDRESS_POSTCODE', 'ADDRESS_STATE', 'ADDRESS_STREET', 'CUISINE', 'NAME', 'PHONE', 'WEBSITE', 'LAT', 'LON']

In [6]:
restaurant_geo_filter

,ID,ADDRESS_CITY,ADDRESS_HOUSENUMBER,ADDRESS_POSTCODE,ADDRESS_STATE,ADDRESS_STREET,CUISINE,NAME,PHONE,WEBSITE,LAT,LON
0,60665830,Seattle,4002,98105,0,University Way Northeast,thai;vietnamese,Basil Viet Kitchen,0,0,47.655453,-122.313141
1,60666975,Seattle,1215,98115,0,Northeast 65th Street,0,The Westy,0,https://www.thewestyseattle.com.com,47.675705,-122.315005
2,66312909,Seattle,7317,98103,0,Aurora Avenue North,0,Duck Island Ale House,0,0,47.682306,-122.344707
3,277088337,0,0,0,0,0,0,Yard Arm,0,0,47.396058,-122.323303
4,277088932,0,0,0,0,0,0,The Lighthouse,0,0,47.401998,-122.324818
...,...,...,...,...,...,...,...,...,...,...,...,...
5827,11300776570,0,0,0,0,0,deli;sandwich,nyc,0,0,47.613617,-122.197028
5828,11301085461,0,0,0,0,0,0,The Plate & Pint,0,0,47.634851,-122.517168
5829,11301189247,Lacey,2350,98516,wa,Marvin Road Northeast,coffee_shop,Starbucks,0,0,47.067469,-122.768159
5830,11301189277,0,0,0,0,0,sandwich;milkshakes,Canna Cabana Subs & Shakes,0,0,47.054208,-122.765091
5831,11303548057,0,0,0,0,0,0,A Spoonful of Sugar,0,0,47.250342,-122.300818

In [7]:
from sqlalchemy import create_engine, Table, MetaData
from sqlalchemy.sql import select, update

def update_existing(df, table_name, primary_key, db_uri):
    # Create a database engine
    engine = create_engine(db_uri)

    # Reflect the existing table
    #metadata = MetaData(bind=engine)
    table = Table(table_name, autoload_with=engine)

    # Update each row in the DataFrame
    with engine.connect() as connection:
        for index, row in df.iterrows():
            stmt = (
                update(table).
                where(table.c[primary_key] == row[primary_key]).
                values(**row)
            )
            connection.execute(stmt)

In [8]:
from sqlalchemy import create_engine
import pandas as pd

def remove_existing(df, table_name, primary_key, db_uri):
    # Create a database engine
    engine = create_engine(db_uri)

    # Get the primary keys from the database
    query = f'SELECT {primary_key} FROM {table_name}'
    db_ids = pd.read_sql(query, engine)

    # Remove rows from the DataFrame that exist in the database
    df = df.loc[~df[primary_key].isin(db_ids[primary_key])]

    return df

In [9]:
# from geopy.geocoders import Nominatim

# # Get the coordinates from the 'geometry' column
# restaurant_geo_filter['lat'] = restaurant_geo_filter.get_coordinates().y
# restaurant_geo_filter['lon'] = restaurant_geo_filter.get_coordinates().x


# geolocator = Nominatim(user_agent="Radius")
# restaurant_geo_filter['location'] = restaurant_geo_filter.apply(lambda row: geolocator.reverse(str(row['lat']) + ", " + str(row['lon'])), axis=1)

# restaurant_geo_filter['location_string'] = restaurant_geo_filter['location'].astype(str)
# restaurant_geo_filter['location_string'] = restaurant_geo_filter['location_string'].apply(lambda x: "a, " + x if x[0].isdigit() else x)

# type(restaurant_geo_filter['location'].address)

In [10]:
# Create the database engine
engine = create_engine('mysql+pymysql://root:#1234abcd@localhost:3306/rentalrestaurant')

# Write data into the table in MySQL database
restaurant_geo_filter.to_sql('restaurant', engine, if_exists='append', index=False)

5832